<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <input type="text" #input>
      &nbsp;
      <button class="btn btn-primary" (click)="onAdd(input.value)">Add Item!</button>
      <hr>

      <!--
            prevent animation at page load
      -->
      <div [@preventAnimation]>
        <ul class="list-group">
          <!--[@list1] should not be bound to anything because the state is void-->
          <li
            class="list-group-item"
            (click)="onDelete(item)"
            [@list1]
            *ngFor="let item of list">
            {{ item }}
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
