<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" #serverName>
      <button class="btn btn-primary" (click)="onAddServer(serverName.value)">Add Server</button>
      <br><br>
      <button class="btn btn-primary" (click)="onPostServer()">Post Server</button>
      &nbsp;
      <button class="btn btn-primary" (click)="onPutServer()">Put Server</button>
      &nbsp;
      <button class="btn btn-primary" (click)="onGetServer()">Get Server</button>
      &nbsp;
      <button class="btn btn-primary" (click)="onGetServer2()">Get Server 2</button>
      &nbsp;
      <button class="btn btn-primary" (click)="onGetServer3()">Get Server 3</button>
      <hr>
      <div *ngFor="let s of fetchedServers">
        {{s.name}} , {{s.capacity}} = > {{s.id}}
      </div>
      <hr>
      <ul class="list-group" *ngFor="let server of servers">
        <li class="list-group-item">{{ server.name }} (ID: {{ server.id }})</li>
      </ul>
    </div>
  </div>
</div>
